*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d8d3d3;
}
h1 {
  text-align: center;
  color: #333;
}
h2{
  color: #444;
}
.card-header {
  width: 100%;
  background-color: rgb(109, 109, 103);
  margin: top 0;
  padding: 5px;
  margin-bottom: 10px;
}
p {
  color: #0e0d0d;
  line-height: 1.6;
  margin-top: 0;
}
#header {
  display: flex;
  flex-direction: row;
  background-color: #eaeff5;
  text-align: center;
  justify-content: space-between; /* pushes logo left, nav right */           /* vertically centers content */
  padding: 10px 20px;
}
#header-img{
    width:300px;
    height: auto;
    display: inline-block;
    margin-left: 0;
}

#nav-bar ul {
  list-style: none;
  display: flex;
  gap: 20px; /* space between nav links */
  margin-top: 1.2em;
  padding: 0;
}

#nav-bar li {
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
#nav-bar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#nav-bar a:hover {
  color: #007BFF; /* Change color on hover */
}
#form {
  text-align: center;
  margin: 20px;
}
 input[type="email"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-right: 10px;
  text-align: center;
}
button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 1em;
}
#form-controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* space between input and button */
}
.video {
  text-align: center;
  margin: 20px 0;
}
.features {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px 20px;
}
.features article {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  align-items: stretch;
}
.card {
  background-color: #f9f9f9;
  margin: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #060707;
  flex: 1;
  text-align: center;

}
.select-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin: 1em;
}